
/*导航样式*/
*{
    margin:0;
    padding:0;
    list-style: none;

}
body{
    background-image: url(../img/bg.png);
    background-repeat:repeat;
    font-family:'Microsoft YaHei';


}
@font-face {
    font-family: myfont;
    src: url('../font/myfont.ttf');
}

header{
    width:100%;
    /*height:180px;*/
    background-image: url('../img/3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 999;
    position: relative;
}
.navbar{
    margin-bottom:0;
}
/*.navbar-nav>li>a {*/
/*padding-top: 0;*/
/*padding-bottom: 0;*/
/*}*/
.logo{
    width:100%;
    height:130px;
    border-bottom: 1px solid #fff;
}
.shadow{
    width: 100%;
    /*height:100%;*/
    z-index:-998;
}
.logo span{
    height:100%;
    display: inline;
    vertical-align: middle;
    /*float: left;*/
    border-bottom:1px solid #fff;
}
.logo img{
    width:50%;
    margin:35px auto;
}
.logo .sicaulogo{
    float: left;
    width:6%;
}
.logo .logotext{
    float: left;
}
.navbar-header{
    width: 100%;
}

#navigation{

    background-color: transparent !important;
}
.navbar-nav .dropdown-menu{
    background-color: rgba(0,0,0,.85);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: 0 3px 8px rgba(0,0,0,0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}
.nav-ul{
    width: 80%;
    margin-left:10%;
}

.dropdown-menu{
    padding-top: 10px;
}

.logo .phone{
    float: right;
    vertical-align: middle;
    width:20%;
    margin-top: 50px;
    margin-right:8%;
}
#search-form{
    display: inline-block;
    margin-top: 90px;
    float: right;
    margin-right: -25%;
    overflow: hidden;
}
.search{
    display: inline-block;
}
.search-button{
    border: none;
    font-size:2em;
    cursor: pointer;
}
.search-button:active,.search-button:focus,.search-button:hover{
    border:none;
    box-shadow: none;
    color: #fff;
}
.input-text{
    border:none;

}

.input-text.active,.input-text:focus{
    /*border:1px solid #fff;*/
    box-shadow: none;
}
.sm-search{
    display: none;
}
.sm-search-btn{
    display: inline-block;
    float: left;
}
.sm-search-input{
    width: 180px;
    display: inline-block;
    float: left;
    margin-top:5px;
}
.nav-ul .navitem{
    width:12.5%;
    /*float: left;*/
}
.nav-ul li a{
    display: block;
    width:100%;
    text-align: center;
    transition: color .3s, backgroud-color .3s;
}


/*导航样式结束*/
.carousel-inner{
    z-index: -1;
}
/*第二屏样式*/
.main{
    position: relative;
    width:100%;
    margin:20px auto;

}
#smCarousel img{
    height:300px;
}
.worknews{
    height:400px;
}
h3{
    height: 50px;
    line-height: 50px;
}
.view-more {
    display: block;
    font-size: 12px;
    color: #222;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 22px;
}
.view-more:hover{
    color:#222;
}
.newslist{
    line-height: 32px;
    margin-top:20px;
}
.newslist li{
    position: relative;
    border-bottom: 1px solid #f1f1f1;
}
.newslist li a{
    font-size: 14px;
     color: #000;
     display: block;
     padding: 0 0 0 12px;
     float: none;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: auto;
     margin-right: 45px;
}

a:hover{
    text-decoration: none;
}
.newslist li span{
    position: absolute;
    float: none;
    right: 0;
    top: 0;
}

.worknews .nav-tabs li a,.some-file .nav-tabs li a{
    /*color: #CB1C1D;*/
    font-size:1.375em;
}

.entry{
    padding-bottom:50px;
}

.entry1 a,.entry2 a{
    display: inline-block;
    margin:0 auto;
    width: 100%;
    height: 70px;
}
.entry1 a,.entry2 a{

    background-size: 100% 100%;
}
.entry1 a,.entry2 a{
    width:100%;
}
.entry1,.entry2{
    margin-top:50px;
}
.entry1 a:hover,.entry2 a:hover{
    opacity:1;
}


#outerLinks {
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 10px 0 0 0;
    margin-top: -1px;
    border-bottom: 1px solid #e4e1e1;
    position: relative;
    z-index: 99;
}
#outerLinks ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#outerLinks ul li {
    display: inline-block;
    padding: 0 30px;
    border-right: 1px dashed rgba(255,255,255,0.2);
}
#outerLinks ul li:last-child{
    border-right: none;
}
#outerLinks ul li a {
    color:#fff;
    font-size: 14px;
}
#outerLinks ul li a:focus,#outerLinks ul li a:link,#outerLinks ul li a:active{
    text-decoration: none;
}

.copyright{
    padding-top:20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 40px;
}
#scroll{
    border-radius: 5px;
    width:40px;
    height:40px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    color: #fff;
    cursor: pointer;
    background: rgba(135, 135, 135, 0.5);
}
#toTop{
    display: block;
    width:100%;
    height:100%;
    color: #fff;
    text-align: center;
    line-height:40px;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width:100%;

    line-height:40px;
}
.scrollItem{
    width: 100%;
    height: 100%;
}
/*公告列表页*/
.list-body{
    background: url(../img/bg.png) repeat;
}
.page-wrap{
    /*background-color: #EDEADF;*/

}
.js-silder{
    width:100%;
    height:300px;
    position: relative;
    overflow: hidden;
}
.silder-main{
    position: relative;
}
.silder-main-img{
    position: absolute;
    left:0;
    top:0;
}
.silder-main-img img{
    width:100%;
    height:300px;
}
.list-box .newslist li a{
    text-decoration: none;
}

.pagination li a{
    /*color:#CB1C1D;*/
    transition: all .5s;
}

.article-wrap article p{
    text-indent:2em;
    font-family: 'SimSun';
    font-size: 14px;
    line-height:1.75em;
    padding:0.25em 0;
}
.route {
    margin-top: 50px;
}
.route-item{
    color: #5a5a5a;
}

h2,h2 span{
    text-align: center;
    margin-top:0;
    height: 65px;
    line-height: 65px;
}
.article-wrap article h2+p{
    margin-top:50px;
}
.view-item{
    display: inline-block;
    float: right;
    margin-right: 20px;
}
#latest-list{
    margin-top:60px;
}
.latest-list{
    background-size: cover;
    height:100%;
    padding-bottom: 100px;
    border-radius:10px;

}
.latest-list li{
    position: relative;
    height: 50px;
    line-height: 50px;
}
.depart-left-nav{
    border-radius: 10px;
    margin-top: 50px;
}
.depart-left-nav a{
    color: #222;
}
.depart-left-nav li a:active,.depart-left-nav li a:hover,.depart-left-nav li a:focus,.depart-left-nav li:active>a{
    display: inline-block;
    width: 100%;
    height:100%;
}
.depart-left-nav h3{
    padding:0 20px;
    border-radius:10px;
}
.leader-route{
    display: inline-block;
    float: right;
}
.leader-route,.leader-route a{

    font-size: 14px;
    color:#5a5a5a;
}
a[class~="route-item"]:hover{
    color:darkred;
}
.leader-info ul li{
    margin-top: 40px;
}

.leader-info p{
    text-align: center;
    font-size:1.25em;
    margin-top: 20px;
}
.leader-name{
    font-family: myfont;
    font-weight:bold;
    font-size: 2.5em !important;
}
.leader-info p img{
    width:60%;
    border-radius: 10px;
    margin-top: 20px;
}
.leader-info p .first-leader{
    width:40%;
}
.leader-info p:first-child{
    font-weight: bold;
}
.leader-info p:last-child{
    font-size:1.125em;
    width:80%;
    margin:0 auto;
    text-indent: 2em;
}

.department-info,.leader-wrap{
    margin-top: 30px;
    padding: 30px;
    font-size: 1.25em;
    text-indent: 2em;
    line-height: 2em;
}
.leader-wrap h2{
    text-align: center;
}
.department-manager{
    margin-top: 20px;
    font-size:1.75em;
    font-weight: bold;
    font-family:myfont;
}
.department-info .depart-text{
    padding-top: 40px;
}
.files-list-wrap{
    padding:40px 50px;
}
.filename{
    text-align: center;
}
.download-wrap{
    margin-top:20px;
    margin-bottom:30px;
}
.download-item{
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size:1.25em;

}

.copyright p{
    text-align: center;
}
footer{
    position: relative;
}
.container{
    padding-bottom: 50px;
}
/*404页面*/

.wrong-wrap .main {
    width:80%;
    margin:0 auto;
    background: #ebebeb;
    box-shadow: 0px 0px 10px #5f5f5f;
    -webkit-box-shadow: 0px 0px 10px #5f5f5f;
    -moz-box-shadow: 0px 0px 10px #5f5f5f;
    -o-box-shadow: 0px 0px 10px #5f5f5f;
    text-align: center;
    padding: 20px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
}
.wrong-wrap .main h2{
    font-size: 1.5em;
    font-weight: bold;
}
.wrong-wrap .banner {
    float: left;
    width: 14.33%;
    margin-left:6.33%;
}
.wrong-wrap .banner img{
    width:80%;
}
.wrong-wrap .clear{
    clear: both;
}
.wrong-wrap .back-wrap{
    width:100px;
    margin:50px auto;
}
.wrong-wrap footer{
    padding-top:75px;
}
.wrong-404{
    width: 28%;
    margin: 50px auto;
    display: block;
}
/*search*/
.search-container{
    width:80%;
    margin:20px auto;
}
.search-result-head{
    text-align: left;
    margin-top:50px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Microsoft YaHei UI','Microsoft YaHei', sans-serif;
    text-shadow: 0px 0px 10px #777;
    border-bottom: none;
}
.search-container hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #aaa;
}
.search-container .description{
    text-align: right;
}
.search-box{
    font-family: serif;
}
.search-box .result .title{
    border-bottom: none;
}
.search-box .result .title a{
    color: #337ab7;
}
.left-wrap .abstract{
    font-weight:bolder;
    font-size:1.1em;
}
@media screen and (max-width: 1220px) {
    .worknews .nav-tabs li a, .some-file .nav-tabs li a {
        /* color: #CB1C1D; */
        font-size: .75em;
    }
}

@media  screen and (min-width: 768px) {

    .dropdown:hover .dropdown-menu {
        /*border:1px solid #fff;*/
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
    }
}
@media screen and (max-width: 998px) {
    .wrong-404{
        width: 40%;
    }
    .container-left {
        z-index: -1;
    }
    .worknews .nav-tabs li a, .some-file .nav-tabs li a {
        /* color: #CB1C1D; */
        font-size:1.375em;
    }
    .pic-view {
        display: none;
    }

    .nav-ul {
        width: 100%;
        margin: 0 auto;
    }

    .newslist-pic {
        display: none;
    }

    .latest-list {
        display: none;
    }
    .depart-left-nav{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .sm-search{
        display: block;
    }
    .worknews .nav-tabs li a, .some-file .nav-tabs li a {
    /* color: #CB1C1D; */
    font-size: 1.375em;
    }
    .navbar-toggle{
        position: absolute;
        right: 0;
        top: 3px;
    }
    .navbar-nav{
    /*margin-top:50px;*/
    }
    #search-form{
        display: none;
    }
    header{
        height:150px;
    }
    .logo{
        height:100px;
    }
    .container{
        width:100%;
    }
    .nav-ul{
        /*margin-top:50px;*/
    }
    .nav-ul .navitem{
        width:100%;
        color: #fff;
    }
    .dropdown:hover .dropdown-menu {
        border:none;
    }
    .icon-bar{
        background-color: #fff;
    }
    .nav-ul li a {
        color: #444;
    }
    .nav-ul li a:hover{
        background-color: rgba(160,82,45,1);
        color: #fff;
    }
    #myCarousel{
        display: none;
    }


}

@media screen and (max-width: 468px) {
    .phone{
        display:none;
    }
    .logo .sicaulogo {
        float: left;
        width: 10%;
        /*margin:10px auto;*/
    }
    .logo .logotext{
        width:80%;
    }
    .some-file .nav-tabs li a,.worknews .nav-tabs li a{
        font-size:.75em;
    }
    #scroll{
        right:0;
    }
    /*404页面*/
    .wrong-wrap .main h2{
        font-size: 1em;
    }
    .wrong-404{
        width: 80%;
        margin: 40px auto;
        display: block;
    }
    .wrong-wrap .banner {
        float: left;
        width: 25.33%;
        margin-left: 0;
    }
}


